.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form label {
  font-weight: var(--font-weigth-regular);
  color: var(--color-text);
  font-size: var(--font-size-sm);
}

.contact-form input,
.contact-form textarea {
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: 1px solid;
}
input::placeholder,
textarea::placeholder {
  font-size: var(--font-size-xs); 
  color:var(--color-text); 
}

.form-button {
  width: 100%;
  align-self: flex-start;
}

.icon-form {
  max-width: 1.5rem;
  align-items: center;
  fill: var(--color-text);
}
