#app {
  max-width: 100%;
  font-weight: normal;
  font-family: 'Times New Roman', Times, serif;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.section-img-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 20px;
  box-sizing: border-box;
  text-align: right;
}

.section-img-content {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transition: transform 0.5s ease;
  box-shadow: rgba(54, 254, 251, 0.481) 0px 5px 15px;
}

.section-img-content:hover {
  transform: scale(1.025);
}

.section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 1rem;

}

.section-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
}

.content-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.83rem;
  margin-top: 2rem;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {}