#app {
  max-width: 100%;
  font-weight: normal;
  font-family: 'Times New Roman', Times, serif;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.section-img-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 20px;
  box-sizing: border-box;
  text-align: right;
}

.section-img-content {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transition: transform 0.5s ease;
  box-shadow: rgba(54, 254, 251, 0.501)0px 10px 30px -10px;
}

.section-img-content:hover {
  transform: scale(1.025);
}

.section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 1rem;

}

.section-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
}

.content-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.83rem;
  margin-top: 2rem;
}




@media (min-width: 1024px) {
  .section-container {
    padding: 5rem;
    gap: 3rem;
  }

  .section-content {
    padding: 2rem;
    gap: 2rem;
  }

  .section-img-container {
    padding: 2rem;
  }

  .section-img-content {
    max-width: 600px; 
  }
}
@media (min-width: 768px) {
  .section-container {
    flex-direction: row;  
    padding: 3rem 2rem;
    gap: 2rem;
  }

  .section-content {
    flex: 1;
    padding: 1.5rem;
    text-align: left;
  }

  .section-img-container {
    flex: 1;
    padding: 1.5rem;
  }
}