#app {
  display: grid;
  max-width: 100%;
  padding: 2rem;
  font-weight: normal;
  font-family: 'Times New Roman', Times, serif;
}


.section-img-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 20px;
  box-sizing: border-box;
  text-align: right;
}

.section-img-content {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transition: transform 0.5s ease;
  box-shadow: rgba(54, 254, 251, 0.501)0px 10px 30px -10px;
}

.section-img-content:hover {
  transform: scale(1.025);
}

.section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 1rem;

}

.section-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
}

.content-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.83rem;
  margin-top: 2rem;
}

.title {
  font-size: 1.3rem;
  font-weight: lighter;
  color: rgba(115, 115, 115, 0.863);
}

.highlight {
  font-size: 3.75rem;
  font-weight: bold;

}

.paragraph {
  font-size: 1.5rem;
  font-weight: lighter;
}

.description {
  font-size: 1.25rem;
  font-weight: lighter;
  color: rgba(115, 115, 115, 0.863);
}




@media (max-width: 1024px) {
  .section-container {
    gap: 1rem;

  }

  .section-img-content {
    min-width: 15rem;
  }
}

@media (max-width: 768px) {
  .section-container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .section-content {
    align-items: center;
    padding: 0px;
  }

  .section-img-container {
    display: none;
  }



  .container-icon {
    display: flex;
  }

  .paragraph {
    font-size: 1rem;
  }

  .description {
    font-size: 0.88rem;
  }
  .title {
  font-size: 1.2rem;
  font-weight: lighter;
  color: rgba(115, 115, 115, 0.863);
}
  .highlight {
  font-size: 2rem;
  font-weight: bold;

}

}