#app {
  display: grid;
  max-width: 100%;
  padding: 2rem;
  font-weight: normal;
  font-family: var(--font-family-base);
  background-color: var(--color-bg);
}

.section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 1rem;
}

.section-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
}

.content-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.83rem;
  margin-top: 2rem;
}

.title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weigth-regular);
  color: var(--color-neutral-600);
}

.highlight {
  font-size: var(--font-size-xlg);
  font-weight: var(--font-weigth-bold);
}

.paragraph {
  font-size: var(--font-size-md);
  font-weight: var(--font-weigth-regular);
}

.description {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weigth-regular);
  color: var(--color-neutral-400);
}

.section-img-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: right;
}

.section-img-content {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transition: transform 0.5s ease;
  box-shadow: 0px 10px 30px -10px var(--color-box-shadow);
}

.section-img-content:hover {
  transform: scale(1.025);
}

@media (max-width: 1024px) {
  .section-container {
    gap: 1rem;
  }

  .section-img-content {
    min-width: 15rem;
  }
}

@media (max-width: 768px) {
  .section-container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .section-content {
    align-items: center;
    padding: 0px;
  }

  .section-img-container {
    display: none;
  }

  .container-icon {
    display: flex;
  }

  .paragraph {
    font-size: var(--font-size-xs);
  }

  .description {
    font-size: 0.88rem;
  }

  .title {
    font-size: 1.2rem;
    font-weight: lighter;
  }

  .highlight {
    font-size: 2rem;
    font-weight: bold;
  }
}
