#app {
  display: grid;
  max-width: 100%;
  padding: 2rem;
  font-family: var(--font-family-base);
  background-color: var(--color-bg);
}

#html {
  background-color: var(--color-bg);
}
.section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 1rem ;
  padding-bottom: 1rem ;
  margin: 1rem 0;
}

.section-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.3rem;
  margin: 1rem 0;
}

.content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.83rem;
  width: 100%;
}

.section-img-container {
  display: none;
}

.section-img-content {
  display: none;
}

@media (min-width: $breakpoint-md) {

 .section-content {
   gap: 1.5rem;
   padding: 2rem;
 }

 .content-text {
   margin-top: 2.5rem;
 }

 .section-img-container {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px;
   box-sizing: border-box;
   text-align: right;
 }

 .section-img-content {
  display: flex;
   width: 100%;
   height: 100%;
   border-radius: 1rem;
   transition: transform 0.5s ease;
   box-shadow: 0px 10px 30px -10px var(--color-box-shadow);
 }

 .section-img-content:hover {
   transform: scale(1.025);
 }

}

 @media (min-width: $breakpoint-lg) {
   .section-container {
     gap: 1rem;
   }

   .section-img-content {
     min-width: 15rem;
   }
 };

 @media (min-width: $breakpoint-xl) {

 .section-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1rem;
   padding-top: 5rem;
   padding-bottom: 5rem;
   margin: 1rem;
 }

 .section-content {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 1.5rem;
   padding: 2rem;
 }

 .content-text {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 0.83rem;
   margin-top: 2rem;
 }

 .section-img-container {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px;
   box-sizing: border-box;
   text-align: right;
 }

 .section-img-content {
   width: 100%;
   height: 100%;
   border-radius: 1rem;
   transition: transform 0.5s ease;
   box-shadow: 0px 10px 30px -10px var(--color-box-shadow);
 }

 .section-img-content:hover {
   transform: scale(1.025);
 }

 }
