:root {
        /* /button---color/ */
    --color-primary: #335fdb;
    --color-primary-hover: #3965ddd0;
    --color-secondary: #f2f5f894;
    --color-secondary-hover: #b4d8ed94;

    --color-success: #10b981;
    --color-warning: #f59e0b;
    --color-error: #ef4444;

    --color-neutral-50: #f9fafb;
    --color-neutral-100: #f3f4f6;
    --color-neutral-200: #e5e7eb;
    --color-neutral-300: #d1d5db;
    --color-neutral-400: #9ca3af;
    --color-neutral-500: #6b7280;
    --color-neutral-600: #4b5563;
    --color-neutral-700: #374151;
    --color-neutral-800: #1f2937;
    --color-neutral-900: #111827;

    --color-bg: var(--color-neutral-50);
    --color-bg-alt: var(--color-neutral-100);
    --color-text: var(--color-neutral-900);
    --color-text-muted: var(--color-neutral-600);
}

[data-theme="dark"] {
    --color-bg: var(--color-neutral-900);
    --color-bg-alt: var(--color-neutral-800);
    --color-text: var(--color-neutral-50);
    --color-text-muted: var(--color-neutral-400);
}